


.headerDiv {
    width: 90%;
    text-align: center;
    border: 2px black solid;
    margin-top : 10% ;
    margin-left: 5%;
}
#pc {
    display: flex;
}

#titre {
    width: 80%;
    padding: 0;
    margin: 0;
}
.link {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    box-sizing: 10px;
    
}
.smalllink {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 70%;
    border-radius: 50px;

}
.verysmalllink {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    border-radius: 50px;

}
 .active {
    
    border: 3px solid red;
    font-weight: bold;

}
 .normal {
    border : 2px solid black
    
}
.smallactive{
    border : 2px solid black
}
.smallnormal {
    border: 1px solid grey;
}
h1 {
    margin: 0;
    padding: 5px;
    position: relative;
    height: auto;
    
    font-size: 1em;
    text-align: center;
}
#border_bot {
    border-bottom: 2px black solid;
}

.profileImg {
    margin: 5px;
    width: 20%;
    border-radius: 40px;
}
#menu ul {
    margin: 0;
    padding: 0;
   
}
#menu li {
    align-items: center;

    display: flex;
    flex-direction: column;
    margin-top : 5%;
    margin-bottom: 5%;
    padding: 0;
    list-style: none;

}
.sousMenu{
    align-items: center;
    display: flex;
    flex-direction: column;
}

